html {
    position: relative;
    min-height: 100%;
}
.container{
    width:1280px;
}
div{
    display:block;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(90deg, #FFFFFF 50%, #f6f6f6 50%);
}
.footer {
    position: absolute;
    bottom: 0;
    bottom: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #033649;
}

h1{
    font-size:28px;
    font-size: 2.8rem;
    letter-spacing: -1px;
    line-height: 1.1;
    font-weight: 400;
}

h2{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #3496cd;
}

h4{
    font-size: 20px;
    font-weight: 400;

}


.navbar-right{
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px;
    border-top: 1px solid #106142;
}
#menu_navegacao.navbar-default .navbar-brand {
    color: rgba(232, 221, 203, 1);
}
#menu_navegacao.navbar-default {
    font-size: 14px;
    background-color: rgba(3, 54, 73, 1);
    border-width: 0;
    border-radius: 0;
}
#menu_navegacao.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(3, 54, 73, 1);
}
#menu_navegacao.navbar-default .navbar-nav>li>a:hover,
#menu_navegacao.navbar-default .navbar-nav>li>a:focus {
    color: rgba(49, 143, 143, 1);
    background-color: rgba(3, 54, 73, 1);
}
#menu_navegacao.navbar-default .navbar-nav>.active>a,
#menu_navegacao.navbar-default .navbar-nav>.active>a:hover,
#menu_navegacao.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(33, 181, 181, 1);
    background-color: rgba(3, 54, 73, 1);
}
#menu_navegacao.navbar-default .navbar-toggle {
    border-color: #033649;
}
#menu_navegacao.navbar-default .navbar-toggle:hover,
#menu_navegacao.navbar-default .navbar-toggle:focus {
    background-color: #033649;
}
#menu_navegacao.navbar-default .navbar-toggle .icon-bar {
    background-color: #033649;
}
#menu_navegacao.navbar-default .navbar-toggle:hover .icon-bar,
#menu_navegacao.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #033649;
}
#menu_navegacao{
    padding:13px;
    margin-bottom:0px;
}
.titulo{
    padding:13px;
    background-color: #3496cd;
    font-size:32px;
    font-weight:100;
    color: #f5f5f5;
}
.titulo_texto{
    color:#f5f5f5;
}
.titulo_texto:hover{
    color:#f5f5f5;
    text-decoration: none;
}
.menu_conteudo{
    display:block;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:50px;
    min-height: calc(100vh - 200px);
    height:100%;
}
.menu_lateral{
    background-color: #f6f6f6;
    min-height: calc(100vh - 200px);
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
}
.menu_lateral > ul {
    padding: 0;
    list-style-type: none;

}
.footer{
    color:white !important;
}
.navegue-inferior {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    border-top: 1px solid #CFE3DC;
    border-bottom: 1px solid #CFE3DC;
    padding: 20px 0 40px 0;
    margin-top:50px;
}
.navegue-inferior > .left{
    float: left;
}
.navegue-inferior > .right{
    float:right;
}
.art_secao{
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 20px 0;
    margin-top: 2em;
}
.busca{
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #CFE3DC;
    border-radius: 4px;
    cursor: auto;
    display: block;
    font-weight: 400;
    height: 30px;
    margin: 10px 0px;
    padding: 6px 14% 8px 10px;
    text-indent: 0;
    vertical-align: middle;
    width: 82%;
}
