{% extends "base.html" %}
{% block titulo_conteudo %}Tutoriais e guias{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col-md-8 menu_conteudo">
        {% if tutoriais %}
        {% for tutorial in tutoriais %}
            <a href="/tutorial/{{ tutorial.id }}/">{{ tutorial.titulo }}</a><br>
        {% endfor %}

    {% else %}
        <p>Nenhum tutorial disponivel</p>
    {% endif %}
    </div>
    <div class="col-md-4 menu_lateral">
            fsfsaf
    </div>
</div>

{% endblock conteudo %}